<h1>New Paper</h1>
<%= form_for :paper, url: papers_path do |f| %>
    <p>
    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title %>
    </p><p>
    <%= f.label :venue, "Venue" %><br>
    <%= f.text_field :venue %>
    </p><p>
    <%= f.label :year, "Year" %><br>
    <%= f.text_field :year %>
    </p>
<% end %>
